# Software
alias v="nvim"
alias r="ranger"

#Commands
alias ls="exa --icons -a"
alias lsc="clear && ls"
alias mv="mv -i"
alias rm="rm -i"
alias pacup="sudo pacman -Syu;paru -Syu"
#Folders
alias dotfiles="cd ~/dotfiles"
#Git
alias gitall="git add *; git commit -m "div"; git push"
#pywal
alias wal="wal -qi ~/Downloads"
